@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Dosis, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0d0f16;
  color: #eee;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
